<?xml version="1.0" encoding="UTF-8"?>
<ns:web-app id="WebApp_9" version="a24"
	xmlns:ns="http://www.example.org/WebXMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/WebXMLSchema WebXMLSchema.xsd">
	<ns:display-name>Servlet 2.4 application</ns:display-name>
	<ns:welcome-file-list>
		<ns:welcome-file>index.html</ns:welcome-file>
		<ns:welcome-file>index.htm</ns:welcome-file>
		<ns:welcome-file>index.jsp</ns:welcome-file>
		<ns:welcome-file>default.html</ns:welcome-file>
		<ns:welcome-file>default.htm</ns:welcome-file>
		<ns:welcome-file>default.jsp</ns:welcome-file>
	</ns:welcome-file-list>
	<ns:filter>
		<ns:filter-name>ServletMappedDoFilter_Filter</ns:filter-name>
		<ns:filter-class>test.Filter.DoFilter_Filter</ns:filter-class>
		<ns:init-param>
			<ns:param-name>attribute</ns:param-name>
			<ns:param-value>tests.Filter.DoFilter_Filter.SERVLET_MAPPED</ns:param-value>
		</ns:init-param>
	</ns:filter>
	<ns:filter-mapping>
		<ns:filter-name>ServletMappedDoFilter_Filter</ns:filter-name>
		<ns:url-pattern>/DoFilterTest</ns:url-pattern>
		<ns:dispatcher>REQUEST</ns:dispatcher>
	</ns:filter-mapping>
	<ns:filter-mapping>
		<ns:filter-name>ServletMappedDoFilter_Filter</ns:filter-name>
		<ns:url-pattern>/IncludedServlet</ns:url-pattern>
		<ns:dispatcher>INCLUDE</ns:dispatcher>
	</ns:filter-mapping>
	<ns:filter-mapping>
		<ns:filter-name>ServletMappedDoFilter_Filter</ns:filter-name>
		<ns:url-pattern>/ForwardedServlet</ns:url-pattern>
		<ns:dispatcher>FORWARD</ns:dispatcher>
	</ns:filter-mapping>
	<ns:listener>
		<ns:listener-class>tests.ContextListener</ns:listener-class>
	</ns:listener>
	<ns:listener>
		<ns:listener-class>tests.ServletRequestListener.RequestListener</ns:listener-class>
	</ns:listener>
	<ns:servlet>
		<ns:servlet-name>welcome</ns:servlet-name>
		<ns:servlet-class>WelcomServlet</ns:servlet-class>
	</ns:servlet>
	<ns:servlet>
		<ns:servlet-name>ServletErrorPage</ns:servlet-name>
		<ns:servlet-class>tests.Error.ServletErrorPage</ns:servlet-class>
	</ns:servlet>
	<ns:servlet>
		<ns:servlet-name>IncludedServlet</ns:servlet-name>
		<ns:servlet-class>tests.Filter.IncludedServlet</ns:servlet-class>
	</ns:servlet>
	<ns:servlet>
		<ns:servlet-name>ForwardedServlet</ns:servlet-name>
		<ns:servlet-class>tests.Filter.ForwardedServlet</ns:servlet-class>
	</ns:servlet>
	<ns:servlet-mapping>
		<ns:servlet-name>welcome</ns:servlet-name>
		<ns:url-pattern>/hello.welcome</ns:url-pattern>
	</ns:servlet-mapping>
	<ns:servlet-mapping>
		<ns:servlet-name>ServletErrorPage</ns:servlet-name>
		<ns:url-pattern>/ServletErrorPage</ns:url-pattern>
	</ns:servlet-mapping>
	<ns:servlet-mapping>
		<ns:servlet-name>IncludedServlet</ns:servlet-name>
		<ns:url-pattern>/IncludedServlet</ns:url-pattern>
	</ns:servlet-mapping>
	<ns:servlet-mapping>
		<ns:servlet-name>ForwardedServlet</ns:servlet-name>
		<ns:url-pattern>/ForwardedServlet</ns:url-pattern>
	</ns:servlet-mapping>
	<ns:error-page>
		<ns:exception-type>java.lang.ArrayIndexOutOfBoundsException</ns:exception-type>
		<ns:location>/ServletErrorPage</ns:location>
	</ns:error-page>
	<ns:error-page>
		<ns:error-code>404</ns:error-code>
		<ns:location>/error404.html</ns:location>
	</ns:error-page>
</ns:web-app>